* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #362e41;
    border-radius: 10px !important;
    border: solid 1px #210099;
    cursor: pointer;
}

button:hover {
    background-color: #362e41 !important;
    color: #fff !important;
    box-shadow: 2px 2px 0 0 #000 !important;
    border: none;
}

h2 {
    text-shadow: 2px 2px 2px #000 !important;
    color: #fff !important;
    font-family: "Amatic SC", sans-serif !important;
}

body span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    color: #fff;
}

body {
    background-color: #000;
}

.video-background {
    top: 0;
    left: 0;
    width: 90%;
    /* height: 100vh; */
    /* overflow: hidden; */
    z-index: -1;
    background-color: #0000;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; /* mesma coisa do background-size, mas como utilizei video usarei essa tag*/
    opacity: 1;
}


p {
    color: #fff;
}

a {
    font-family: "Montserrat", sans-serif;
    color: #c2c1c1;
    font-weight: 500;
}

.login-fundo {
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin-top: -3%;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-nome {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 80px;
    }
}

.login-campos {
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    border-radius: 10px;
    margin-top: 5%;
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0,0,0,0.4);


    & span {
        font-size: 20px;
    }

    & input {
        height: 60px;
        font-size: 20px;
        padding: 10px;
        border-radius: 8px;
        background: transparent;
        border: solid white 1px;
        color: #fff;
    }

}

.login-botao {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    border-bottom: solid 2px #fff;
    /* box-shadow: #000 5px 5px 5px; */
    background-color: rgba(0,0,0,0.4);


    & button {
        width: 95%;
        height: 45%;
        font-size: 40px;
    }
}
