* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('./img/banner_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.quizz-questions {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.titulo-quizz {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 60px;
    }
}

.quizz-card {
    width: 60%;
    height: 50%;
    border-radius: 9px;
    /* background-color: #393749; */
    background: transparent;
    display: flex;
}

.quizz-pergunta {
    width: 50%;
    height: 100%;
    border: 1px solid white;
    /* border-top: none; */
    border-right: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    padding: 20px;

    & span {
        font-size: 30px;
    }
}

.tamanho-pergunta {
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quizz-alternativas {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    /* border: solid 1px white; */
    gap: 15px;
}

.alternativas-background {
    width: 90%;
    height: 20%;
    border: solid #fff 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 2px;
}



.alternativas-background:hover {
    background-color: #d4d4d4;
    color: #000000;
}