* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: rgb(35,35,35);
    background: linear-gradient(180deg, rgba(35,35,35,1) 45%, rgba(65,56,56,1) 78%);
    /* background-image: url('../img/illustrative-bg.png'); */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
}
button {
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #24106d;
    border-radius: 7px !important;
    border: solid 1px #210099;
    cursor: pointer;
}

button:hover {
    background-color: #3700ff !important;
    color: #fff !important;
    box-shadow: 2px 2px 0 0 #000 !important;
}

h2 {
    text-shadow: 2px 2px 2px #000 !important;
    color: #fff !important;
    font-family: "Amatic SC", sans-serif !important;
}

body span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
}

/* banner */

.video-background {
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover; /* mesma coisa do background-size, mas como utilizei video usarei essa tag*/
    opacity: 0.7;
}

.banner-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 99vh;
}

.banner-pai {
    width: 90%;
    height: 60%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner-pai h2 {
    width: 100%;
    font-size: 65px;
    text-transform: capitalize;
}
.banner-irmao {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.anular-espaco {
    height: 30%;
    width: 100%;
}
.lado-certo {
    height: 70%;
    width: 100%;
}


.banner-pai span {
    width: 70%;
    font-size: 25px;
    text-transform: capitalize;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
}

.banner-pai .div-botao {
    height: 4vh;
    width: 61%;
    margin-left: 13%;
    display: flex;
    justify-content: center;
}
.banner-pai button {
    height: 100%;
    width: 40%;
    text-transform: lowercase;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px #000;
}

.banner-irmao h2 {
    margin-bottom: 20px; 
}

.banner-irmao span {
    margin-bottom: 20px; 
}

.banner-irmao button {
    margin-bottom: 0; 
}

/* carrossel filmes */
.slider-section {
    width: 100%;
    height: 99vh;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0; 
    /* essa tag inset está fazendo com que o elemento ocupe apenas o espaço da div pai (no caso no limite da div pai) */
}
.slider .list .item img {
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}
.slider .list .item .content .title {
    font-family: "Amatic SC", sans-serif !important;
    color: #fff;
}
.slider .list .item .content .type {
    font-family: "Amatic SC", sans-serif !important;
}
.slider .list .item .content span {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

/* editando sobre cada content (os textos ao lado do slider) */
.slider .list .item .content {
    position: absolute;
    top: 28%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translate(-65%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title, 
.slider .list .item .content .type {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.slider .list .item .content .type{
    color: #ECA114;
}

.slider .list .item .content .description {
    font-size: 14px;
}

.slider .list .item .content .button {
    margin-top: 20px;
}

.slider .list .item .content .button button {
    border: none;
    font-size: 25px;
    padding: 7px 15px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 900;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 7px;
    
    & a {
    color: #24106d;
    }
}

.slider .list .item .content .button button a:hover {
    color: #fff;
}

.slider .list .item .content .button button:hover{
    background-color: rgb(12, 33, 128);
    color: #fff;
}

/* thumbnail section */
.thumbnail {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0; 
    /* esse comando aí evita que o item encolha quando o container pai fica menor que as larguras, nesse caso estou garantindo que os itens tenham width de 150px e height de 220px */
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);

}

/* nextPrevArrows section */
.nextPrevArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nextPrevArrows button {
    width: 40px;;
    height: 40px;
    border-radius: 50%;
    background-color: #4a18ff;
    opacity: 0.7;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.nextPrevArrows button:hover {
    background-color: #fff !important;
    color: #000 !important;
}

/* animation part */

.slider .list .item:nth-child(1){
    z-index: 1;
}
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .button {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
    /* aqui estou definindo que os elementos dentro do .item .content comecem com esses filtros e efeitos para que na showcontent eu defina onde ficarão estaticos */
}

@keyframes showContent {
    to{
        transform: translateY(0px);
        filter: blur(00px);
        opacity: 1;
        /* estou voltando os itens do .content ao tamanho padrão e definindo que ficará assim */
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s;
}
.slider .list .item:nth-child(1) .content .button{
    animation-delay: 1s;
}

/* animation for next button click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
    /* aqui estou definindo que as imagens estejam no tamanho menor, como a thumbnail */
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        /* expandindo a imagem para o tamanho de exibição ( no caso o fundo inteiro da tela ) */
    }
}
.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail o.5s linear 1 forwards;
    /* aqui estou definindo que o ultimo item da thumbnail tenha o overflow ( no caso o seu limite de exposição ) hidden, para que ele não ultrapasse a div pai */
}
.slider.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
        /* isso aqui ta fazendo meinhas thumbnails se movimentarem de forma limpa */
    }
}

/* animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(1) .content .title,
.slider.prev .list .item:nth-child(1) .content .type,
.slider.prev .list .item:nth-child(1) .content .description,
.slider.prev .list .item:nth-child(1) .content .button {
    animation: ontentOut 0.5s 1s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
        /* quando o conteudo vai para a thumb e isso faz com que ele não apareça ou ultrapasse a div pai */
    }
}

@media screen and (max-width: 678px){
    .slider .list .item .content {
        padding-right: 0;
    }
    .slider .list .item .content .title {
        font-size: 30px;
    }
}

/* sobre nos */
.div-main-content {
    height: 457vh;
    width: 99vw;
    background-image: url('./img/png_estrelas.png'), linear-gradient(180deg, #0e0812, #120c19 121.35%);
    margin-top: -3%;
}
.container-sobrenos {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pai-sobrenos {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filho-sobrenos {
    width: 15%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.irmao-sobrenos{
    height: 85%;
    margin-left: 2%;
    width: 90%;
    display: flex;
    gap: 150px;

    & img{
        margin-top: 4%;
        width: 450px;
        height: 450px;
        filter: drop-shadow(5px 5px 5px 1px);
    }
}

.irmao-sobrenos span {
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 70%;
    color: #fff;
}

.filho-sobrenos h2 {
    font-size: 60px;
}

/* parte dos livros */
.container-livros {
    margin-top: 1%;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-tamanho {
    height: 100%;
    width: 80%;
    overflow: hidden;

}
.livros-pai {
    width: 100%;
    height: 100%;
}

.livros-pai .titulo-livro {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livros-pai .titulo-livro h2 {
    font-family: 'harryFont';
    text-transform: capitalize;
    font-size: 60px;
    color: #ECA114;
}

.livros-pai .livros-filho {
    height: 70%;
    gap: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    flex-wrap: wrap;
}

.livros-pai .livros-filho a img {
    box-shadow: 10px 8px 5px 2px #000;
}

.livros-filho-estrela {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.livros-filho-estrela i {
    color: white;
    margin-top: 5%;
    font-size: 25px;
    cursor: pointer;
}

/* fale conosco */
.container-feedback {
    width: 100%;
    height: 91vh;
    /* border: solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.pai-feedback {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    /* justify-content: center; */

    & h2 {
        font-size: 60px;
    }
}

.irmao-feedback {
    width: 80%;
    height: 60%;
    /* border: solid white; */
    display: flex;
}

.feedback-mensagem {
    width: 50%;
    height: 100%;
    padding: 15px;
    color: #fff;

    & span {
        font-size: 20px;
    }
    & textarea {
        background: transparent;
        color: #fff;
        margin-top: 3%;
        width: 100%;
        height: 70%;
        border-radius: 7px;
        font-size: 30px;
        padding: 10px;
    }
    & .feedback-check {
        cursor: pointer;
        color: #fff;
        width: 50px;
        height: 20px;
        margin-left: -1.7%;
        margin-top: 2%;
    } 
    & label {
        font-size: 20px;
        color: rgb(218, 215, 215);
    }

    & .feedback-enviar {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;

        & button {
            height: 100%;
            width: 50%;
            font-size: 25px;
        }
    }
}
.feedback-input{
    width: 50%;
    height: 100%;
    /* border: solid #fff; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;

    & span {
        font-size: 20px;
        color: #fff;
    }

    & input {
        background: transparent;
        color: #fff;
        padding: 10px;
        font-size: 30px;
        height: 60px;
        width: 90%;
        border-radius: 7px;
    }
}

.fundo-feedback {
    width: 100%;
    height: 20%;
    background-image: url('./img/fundo_trem_feedback.png');
    background-size: cover;
}


/* quiz container  */
.quiz-container {
    width: 100%;
    height: 70vh;
    background-image: url('./img/png_estrelas.png'), linear-gradient(180deg, #0e0812, #2e1c42 121.35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-trem {
    height: 39%;
    width: 100%;
    background-image: url('./img/fundo_trem.png');
}

.titulo-quiz {
    width: 100%;
    height: 15%;
    /* margin-top: 1%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & h2 {
        font-size: 60px;
    }
}

.escudos-quiz {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    & a {
        text-decoration: none;
    }

    & .escudos {
        cursor: pointer;
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        background-image: url('./img/chapeu_seletor.png');
        opacity: 0.4;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 2px #000;

        & h2 {
            font-size: 35px;
            font-family: "Montserrat", sans-serif !important;
            text-transform: lowercase;
        }

        & span{
            font-size: 20px;
            color: #fff;
        }
         
     }
}

.escudos:hover {
    border: solid #fff;
    opacity: 1;
    & h2{
        color: #ECA114 !important;
    }
}
