* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #24106d;
    border-radius: 7px !important;
    border: solid 1px #210099;
    cursor: pointer;
}

button:hover {
    background-color: #3700ff !important;
    color: #fff !important;
    box-shadow: 2px 2px 0 0 #000 !important;
}

h2 {
    text-shadow: 2px 2px 2px #000 !important;
    color: #fff !important;
    font-family: "Amatic SC", sans-serif !important;
}

body span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
    color: #fff;
}

body {
    background-image: url('../img/banner_mais_claro.jpg');
}

p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}
.cadastro-fundo {
    width: 100vw;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-card {
    margin-top: -3%;
    width: 40%;
    height: 80%;
    /* background-color: #fff; */
    /* border: solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-nome {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 80px;
    }
}

.cadastro-campos {
    margin-top: 5%;
    border-top: solid white;
    height: 60%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    & span {
        font-size: 20px;
    }

    & input {
        height: 50px;
        font-size: 20px;
        padding: 10px;
        background: transparent;
        border: solid white 1px;
        color: #fff;
    }

}
.primeiro-grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dtnasc {

    & input {
        width: 90%;
    }
}
.groups-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;

    & label {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
    }
}
.segundo-grupo {
    width: 97%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.final-grupo {
    width: 97%;
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.senha input {
    width: 40%px;
}
.confirmesenha input {
    width: 40%px;
}

.cadastro-botao {
    width: 97%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        width: 50%;
        height: 70%;
        font-size: 40px;
    }
}
